.row {
  display: flex;
  flex-wrap: wrap;
}
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
// Font weights
.fw-600 {
  font-weight: 600;
}
// Font sizes
.fw-1-2 {
  font-size: 1.2rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid $primary-accent;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
.cta {
  background-color: $cta-color;
  color: $white;
  border-color: transparent;
}
.btn-more {
  border-radius: 0;
  border-color: #ccc;
}
