/* LAYOUT
---------------------------*/

.row {
  display: flex;
  flex-wrap: wrap;
}
.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-fd-c {
  flex-direction: column;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

/* SPACING
---------------------------*/

.mh-0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* FONT WEIGHT & SIZE
---------------------------*/

.fw-600 {
  font-weight: 600;
}
// Font sizes
.fs-1-2 {
  font-size: 1.2rem;
}

/* BUTTON
---------------------------*/

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid $primary-accent;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}
.cta {
  background-color: $cta-color;
  color: $white;
  border-color: transparent;
}
.btn-more {
  border-radius: 0;
  border-color: #ccc;
}

/* COLOR
---------------------------*/

.color-primary {
  color: $primary-accent;
}
