@import "variables";
@import "classes";

html {
  font-size: 16px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
img {
  width: 100%;
  height: auto;
}
body {
  width: 100vw;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
.container {
  background-color: $white;
  max-width: 1440px;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  // border: 1px solid $primary-accent;
}
header > h2 {
  margin-bottom: 0.1rem;
}
.header {
  & .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    & nav {
      display: none;
    }
  }
}
.menu-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 3rem;
  height: 2.5rem;
  // background-color: red;
  & > span {
    display: block;
    width: 2.2rem;
    height: 1px;
    background-color: $primary-accent;
    &:nth-child(1) {
      transform: translateY(-8px);
    }
    &:nth-child(3) {
      transform: translateY(8px);
    }
  }
}
.hero {
  min-height: 20rem;
  background-image: linear-gradient(
      -90deg,
      hsla(253, 47%, 25%, 0.7),
      hsla(253, 47%, 25%, 0.7)
    ),
    url("https://picsum.photos/id/237/200/300");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  & .wrapper {
    padding: 5rem 0;
  }
  &__title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  &__subtitle {
    line-height: 1.2;
    margin-bottom: 2rem;
  }
}

// Success stories
.success-stories {
  &__img {
    overflow: hidden;
    width: 90vw;
    max-height: 90vw;
    margin-bottom: 1rem;
  }
  figcaption p {
    font-size: 1.2rem;
  }
}
// Success stories
// Recommended section
.recommended {
  &-item {
    margin-bottom: 2rem;
  }
  &__img {
    overflow: hidden;
    width: 90vw;
    max-height: 40vw;
    margin-bottom: 1rem;
  }
  &__details {
    & > p:nth-child(1) {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
    }
    & > span {
      display: block;
      margin: 0.5rem 0;
      color: #666;
    }
    .donation-progress {
      display: block;
      width: 100%;
      margin-bottom: 0.2rem;
      height: 0.5rem;
      border-radius: 15px;
      border: 1px solid transparent;
      overflow: hidden;
    }
  }
}
// End of recommended section
.section .wrapper header > h2 {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
}
.top-project,
.popular-project,
.how-we-work {
  text-align: center;
}
// Top project
.top-project {
  background-color: #e1e1e1;
  color: #555;
  h2 {
    color: #000;
  }
  &__img {
    overflow: hidden;
    width: 90vw;
    max-height: 60vw;
    margin-bottom: 2rem;
  }
  &__goal {
    margin-bottom: 1.3rem;
    font-size: 1.4rem;
  }
  &__description {
    margin-bottom: 2rem;
  }
}
// End of top project

// How we work
.how-we-work-items-container {
  // background-color: red;
  justify-content: center;
}
.how-we-work-item {
  max-width: 255px;
  align-items: center;
  margin: 0 2rem 1rem;
}
.how-we-work-item__icon {
  width: 100%;
  height: 260px;
  margin: 1rem auto;
  background-color: #ededed;
  div {
    background-color: #dcdcdc;
    width: 60%;
    margin: 0 auto;
    height: 10rem;
    border-radius: 10px;
  }
}

// End of how we work

// Footer
footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #182f37;
  min-height: 6rem;
  color: $white;
  font-size: 0.8rem;
  .terms {
    order: -1;
    ul li {
      display: inline-block;
      margin: 1rem auto;
      padding: 1rem;
    }
  }
}

//End of footer
